@media (max-width: 635px) {
  .h1Text {
    width: 400px;
    font-size: 35px;
  }
}
@media (max-width: 635px) {
  .divTarefas {
    width: 400px;
    font-size: 25px;
    padding: 7px;
  }
}
@media (max-width: 635px) {
  button {
    width: 90px;
    font-size: 15px;
    padding: 7px;
  }
}
